
header {

    background-color:lightpink;
    color:crimson;

}

main {

    background-color: hotpink;
    color:antiquewhite;
}

footer {

    background-color:fuchsia;

}

#gross img {

margin-top: 10px;
border-block-style: 1px;

}


